# python
__pycache__/
venv/

# idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# tmp data
*.wav
samples/
samples_out/
pocketsphinx/

#proto
recognition/yandex_api/basic_pb2.py
recognition/yandex_api/ttsbackend_pb2.py
recognition/yandex_api/tts_pb2.py
recognition/yandex_api/voiceproxy_pb2.py