# python
__pycache__/
venv/

# idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# tmp data
*.wav
*.db
*.log
samples/
samples_out/
pocketsphinx/

#proto
**/*_pb2.py

#home assistant
etc/homeassistant/tts/*